<div style="margin: 10px">
  <dn-table
    [displaySearch]="true"
    [name]="'Example Title '"
    [itemsPerPage]="30"
    [displayCrud]="false"
    [headerActions]="[{
            type: 'editItem',
            title: 'Edit',
            class: 'ion-edit'
            },
            {
                    type:'export',
                    title: 'Export table',
                    class: 'fa fa-download'
                 }

                 ]"
    [data]="<%=camelize(name)%>Fetch$"
    [allowMultiSelect]="true"
    [tableHeaderMapping]="[{
      displayName: 'Display text',
      fieldName: 'property_name',
      index: 1,
      default: true,
      width : 17,
      ignore: true
  }]"
    (actionRequested)="handleAction($event)"
    style="width: 100%">


    <dn-table-row-content>
      <!--Example of Custom Columns-->
      <div *dnTableCell="'received_at';let value;">
        {{value | date:'medium'}} (GMT)
      </div>
      <!--Example of Expanded-->
      <div *dnDataCellExtraData="'test';let item">
        <div style="margin:20px;">
          <mat-list-item>
            <h5 mat-line><b>{{'syslog.syslog_received_at' | translate }}:</b> {{item?.received_at | date:'medium'}} <span> (GMT)</span></h5>
            <h5 mat-line><b>{{'syslog.received_from' | translate }}:</b> {{item?.received_from }}</h5>
          </mat-list-item>

        </div>
      </div>
    </dn-table-row-content>

  </dn-table>
</div>
